<!DOCTYPE html>
<html>
<head>
    <title>O Projekcie</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
   	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="nav"><a href="/">🏠 Wróć do menu</a></div>

    <h2>O Projekcie JBerry</h2>
    <p>To jest system analizy brydżowej oparty na Raspberry Pi.</p>
    <ul>
        <li><strong>Silnik:</strong> Biblioteka DDS (C++)</li>
        <li><strong>Interfejs:</strong> Python Flask + HTML5</li>
        <li><strong>Funkcje:</strong> Obliczanie tabeli Double Dummy oraz wyniku PAR.</li>
    </ul>
    <p style="text-align: center; margin-top: 30px; font-size: 12px; color: #555;">Wersja 1.0</p>
</body>
</html>
